{% extends 'base.html'%}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                    <img src="{{ catalog.picture.url }}">
                    <div class="card-body">
                        <p class="card-text">Продукт: {{ catalog.name }}</p>
                        <p class="card-text">Описание продукта: {{ catalog.description | truncatechars:100 }}</p>
                        <p class="card-text">Категория: {{ catalog.category }}</p>
                        <p class="card-text">Цена: {{ catalog.price }}</p>

                        <p class="card-text">Статус: {% if catalog.published_status %}
                            <span style="color: green;">Опубликован</span>
                            {% else %}
                            <span style="color: gray;">Не опубликован</span>
                            {% endif %}
                        </p>

                        <p class="card-text">Дата создания: {{ catalog.created_at |date:"d M Y" }}</p>
                        <p class="card-text">дата последнего изменения: {{ catalog.updated_at |date:"d M Y"}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'catalog:catalog_list' %}"
                                   role="button">Назад</a>

                        <!-- Кнопка Снять с публикации - только для модератора -->
                        {% if catalog.published_status and perms.catalog.can_unpublish_product %}
                        <form method="post" action="{% url 'catalog:unpublish_product' catalog.pk %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning">Снять с публикации</button>
                        </form>
                        {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}